* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  isolation: isolate;
}

.logo {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 10px;
  top: 5px;
}

header {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 25px 10px; */
  gap: 60px;
}

header h1 {
  /* width: 437px;
    height: 132px; */
  font-style: normal;
  font-size: 36px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  margin: 12px 0px 12px 0px;
}

.p_numeroSorteio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 15px;
  height: 70px;
}

.numeroSorteado {
  font-size: 36px;
  font-weight: 700;
}

header p {
  font-size: 36px;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 100px;
  gap: 60px;
  /* width: 1676px;
    height: 842px; */
}

.cedula {
  box-sizing: border-box;
  border: 5px solid black;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 5px;
  /* gap: 10px; */

  /* width: 272px;
    height: 822px; */
}

.letra {
  font-weight: 600;
  font-size: 56px;
  line-height: 26px;
  text-align: center;
  /* padding: 10px; */
  margin: 50px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px; */
  /* gap: 10px;
    width: 252px;
    height: 646px; */
}

.frame {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 7px;
  gap: 45px;
  /* width: 69px; */
  /* height: 626px; */
}

.numero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  font-weight: 600;
  font-size: 56px;
  margin: 1px;
  cursor: pointer;
}

.numeroEscolhido {
  color: white;
  background-color: #623BA5;
}
